*
*::before
*::after {
  box-sizing: border-box;
}

* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(65, 0, 0);
  margin: 32px 512px 32px 128px;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

a {
  color: rgb(65, 0, 0);
}

a:visited {
  color: rebeccapurple;
}

/*main page*/

.main-header {
  margin-top: 32px;
  margin-bottom: 16px;
}

.recipe-list {
}

.main-list-item {
}

/* recipes */

.heading {
  margin-top: 32px;
}

.main-image {
  margin: 32px;
}

.description-header {
  margin-top: 32px;
  margin-bottom: 16px;
}

.description {
  margin: 0;
}

.ingredients-header {
  margin-top: 32px;
  margin-bottom: 16px;
}

.ingredients-list {
  margin: 16px 5px 16px 16px;
}

.steps-header {
  margin-top: 32px;
  margin-bottom: 16px;
}

.steps {
  margin: 16px 5px 16px 16px;
}

.steps-list-item {
  margin: 16px 0;
  font-weight: 700;
}

.list-item-paragraph {
  margin: 8px 0;
}

.more-steps-list-item {
  margin-top: 8px 0;
}

.serving-box {
  writing-mode: horizontal-tb;
}

.serving-box-elements {
  border: none;
}

.h3-titles {
  margin-top: 32px;
  margin-bottom: 16px;
}

.h4-titles {
  margin-top: 32px;
  margin-bottom: 16px;
}

.para {
  margin-bottom: 16px;
  margin-top: 16px;
}

.heading, .description-header, .description, .ingredients-header, .ingredients-list,
.h3-titles, .h4-titles, .para, .steps-header, .steps, .more-steps-list-item, .main-header,
.main-list-item, .recipe-list {
  text-align: left;
}